
<div class="row">
  <div class="col-md-12">
    <ul class="nav nav-tabs">
    	<li><a href="<%= following_user_path(@user) %>">フォロー</a></li>
    	<li><a href="<%= followers_user_path(@user) %>">フォロワー</a></li>
    </ul>
  </div>
</div>